<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <root>
    <level value="INFO"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </root>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log\Log_"/>
    <appendToFile value="true"/>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <datePattern value="yyyyMMdd&quot;.log&quot;"/>
    <StaticLogFileName value="false"/>
    <RollingStyle value="Date"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date] %m%n"/>
    </layout>
  </appender>
</log4net>
