<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--日志配置-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net configSource="log4net.config" />
  <!--日志配置-->
  
  <appSettings>
    <!--数据库配置-->
    <!-- 本地 -->
   <!-- <add key="DBNativeWeb" value="Data Source=.; Initial Catalog=WHJHNativeWebDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBAccounts" value="Data Source=.; Initial Catalog=WHJHAccountsDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBPlatform" value="Data Source=.; Initial Catalog=WHJHPlatformDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBTreasure" value="Data Source=.; Initial Catalog=WHJHTreasureDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBRecord" value="Data Source=.; Initial Catalog=WHJHRecordDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBGameMatch" value="Data Source=.; Initial Catalog=WHJHGameMatchDB; User ID=sa; Password=407043; Pooling=true" /> -->
    <!-- 开发服 -->
    <!-- <add key="DBNativeWeb" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHNativeWebDB; User ID=sa; Password=407043; Pooling=true" />
    <add key="DBAccounts" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHAccountsDB; User ID=sa; Password=407043; Pooling=true" />
    <add key="DBPlatform" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHPlatformDB; User ID=sa; Password=407043; Pooling=true" />
    <add key="DBTreasure" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHTreasureDB; User ID=sa; Password=407043; Pooling=true" />
    <add key="DBRecord" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHRecordDB; User ID=sa; Password=407043; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=172.16.0.211,7001; Initial Catalog=WHJHGameMatchDB; User ID=sa; Password=407043; Pooling=true" /> -->
    <!-- 测试服 -->
    <add key="DBNativeWeb" value="Data Source=172.16.0.210; Initial Catalog=WHJHNativeWebDB; User ID=sa; Password=sa407043; Pooling=true" />
    <add key="DBAccounts" value="Data Source=172.16.0.210; Initial Catalog=WHJHAccountsDB; User ID=sa; Password=sa407043; Pooling=true" />
    <add key="DBPlatform" value="Data Source=172.16.0.210; Initial Catalog=WHJHPlatformDB; User ID=sa; Password=sa407043; Pooling=true" />
    <add key="DBTreasure" value="Data Source=172.16.0.210; Initial Catalog=WHJHTreasureDB; User ID=sa; Password=sa407043; Pooling=true" />
    <add key="DBRecord" value="Data Source=172.16.0.210; Initial Catalog=WHJHRecordDB; User ID=sa; Password=sa407043; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=172.16.0.210; Initial Catalog=WHJHGameMatchDB; User ID=sa; Password=sa407043; Pooling=true" />
    <!--数据库配置-->
    
    <!--平台内部配置-->
    <!-- 站点Cookie名 建议修改，修改的值请勿使用中文或特殊符号-->
    <add key="CookiesName" value="ckname" />
    <!-- 用户登录缓存KEY值 建议修改，修改的值请勿使用中文或特殊符号-->
    <add key="UserLoginCacheKey" value="clck" />
    <!-- 用户登录缓存过期时间 单位分钟 不建议修改-->
    <add key="UserLoginCacheTimeOut" value="30" />
    <!-- 网站接口对外签名验证配置 如果修改三端均需修改-->
    <add key="MobileInterfaceKey" value="szwhkj56dt90gfpjskdw3p4qm" />
    <!-- 网站接口允许跨域访问域名地址 例如：http://jh.foxuc.net -->
    <add key="MoblieInterfaceDomain" value="" />
    <!-- 网站前台访问域名 接口独立时需配置，未独立则置空 例如：jj.foxuc.net -->
    <add key="FrontSiteDomain" value="" />
    <!--平台内部配置-->

    <!--苹果充值-->
    <add key="appUrl" value="https://sandbox.itunes.apple.com/verifyReceipt" />
    <!-- 测试地址，正式使用更新为https://buy.itunes.apple.com/verifyReceipt -->
    
    <!-- 网站头部标签配置 -->
    <add key="title" value="网狐棋牌精华版" />
    <add key="keywords" value="网狐棋牌精华版" />
    <add key="description" value="网狐棋牌精华版" />
    <!-- 网站头部标签配置 -->

    <!-- 360零钱支付 -->
    <add key="LQPayPreUrl" value="http://tt.360lingqian.com/zxfdpay/web/webPrePay.do"/>
    <!-- 测试地址，正式使用更新为http://pay.360lingqian.com/zxfdpay/web/webPrePay.do -->
    <add key="LQPayUrl" value="http://tt.360lingqian.com/zxfdpay/pay/getPoPay.do"/>
    <!-- 测试地址，正式使用更新为http://pay.360lingqian.com/zxfdpay/pay/getPoPay.do -->
    <add key="LQPayComID" value=""/>
    <add key="LQPayProdID" value=""/>
    <add key="LQPayKey" value=""/>
    <!-- 360零钱支付-->

    <!--手机端微信支付-->
    <add key="WXAPPID" value="" />
    <add key="WXAPPMCHID" value="" />
    <add key="WXAPPKEY" value="" />
    <add key="WXAPPSECRET" value="" />
    <!--手机端微信支付-->

    <!--支付宝支付-->
    <add key="ZFBPARTNER" value="" />
    <add key="ZFBKEY" value="" />
    <add key="ZFBPUBLICKEY" value="" />
    <!--支付宝支付-->

    <!--微信公众号（微信注册授权）-->
    <add key="WXNATIVEAPPID" value="wx3418fbe04fcc37e8" />
    <add key="WXNATIVEMCHID" value="1431760702" />
    <add key="WXNATIVEKEY" value="daf1a278ababbe2361b997fc8053ae9f" />
    <add key="WXNATIVESECRET" value="e2c1f8e557baafb89c207c7f21112fc5" />
    <!--微信公众号（微信注册授权）-->
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="error.html">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <pages enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
        <add tagPrefix="qp" tagName="Header" src="~/UserControl/Common_Header.ascx"/>
        <add tagPrefix="qp" tagName="Footer" src="~/UserControl/Common_Footer.ascx"/>
        <add tagPrefix="qp" tagName="Download" src="~/UserControl/Common_Download.ascx"/>
        <add tagPrefix="qp" tagName="Contact" src="~/UserControl/Common_Contact.ascx"/>
        <add tagPrefix="qp" tagName="Rank" src="~/UserControl/Common_Rank.ascx"/>
        <add tagPrefix="qp" tagName="Banner" src="~/UserControl/Common_Banner.ascx"/>
        <add tagPrefix="sd" tagName="Sidebar" src="~/Card/UserControl/Record_Sidebar.ascx"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
    
</configuration>
