<?xml version="1.0"?>
<ArrayOfModulePage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- 用户系统 begin -->
  <ModulePage>
    <ModuleID>100</ModuleID>
    <ModuleName>用户管理</ModuleName>
    <PageName>AccountsList.aspx,AccountsBaseInfo.aspx,GrantGameID.aspx,DiamondChangeList.aspx,DiamondConsume.aspx,DiamondIncome.aspx,RecordGrantGameID.aspx,TreasureChangeList.aspx,TreasureIncome.aspx,TreasureConsume.aspx,AddSuperUser.aspx</PageName>
  </ModulePage>
    <ModulePage>
    <ModuleID>101</ModuleID>
    <ModuleName>金币在线玩家</ModuleName>
    <PageName>UserPlaying.aspx</PageName>
  </ModulePage>
<!--  <ModulePage>-->
<!--    <ModuleID>102</ModuleID>-->
<!--    <ModuleName>限制管理</ModuleName>-->
<!--    <PageName>ConfineAddressList.aspx,ConfineMachineList.aspx,ConfineAddressInfo.aspx,ConfineMachineInfo.aspx,ConfineAddressTop.aspx,ConfineMachineTop.aspx</PageName>-->
<!--  </ModulePage>-->
  <ModulePage>
    <ModuleID>103</ModuleID>
    <ModuleName>代理管理</ModuleName>
    <PageName>AgentUserList.aspx,AgentUserInfo.aspx,AgentUserUpdate.aspx,AgentGrantDiamond.aspx,AgentUserUnder.aspx,AgentStruct.aspx</PageName>
  </ModulePage>
  <!-- 用户系统 end -->

  <!-- 充值系统 begin -->
  <ModulePage>
    <ModuleID>200</ModuleID>
    <ModuleName>充值配置</ModuleName>
    <PageName>AppPayConfigList.aspx,AppPayConfigInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>201</ModuleID>
    <ModuleName>充值记录</ModuleName>
    <PageName>RecordPayDiamond.aspx</PageName>
  </ModulePage>
  <!-- 充值系统 end -->

  <!-- 维护系统 begin -->
<!--  <ModulePage>-->
<!--    <ModuleID>300</ModuleID>-->
<!--    <ModuleName>机器管理</ModuleName>-->
<!--    <PageName>DataBaseInfoList.aspx,DataBaseInfoInfo.aspx</PageName>-->
<!--  </ModulePage>-->
  <ModulePage>
    <ModuleID>301</ModuleID>
    <ModuleName>游戏管理</ModuleName>
    <PageName>GameGameItemList.aspx,GameGameItemInfo.aspx,GameTypeItemList.aspx,GameTypeItemInfo.aspx,GameKindItemList.aspx,GameKindItemInfo.aspx,GameNodeItemList.aspx,GameNodeItemInfo.aspx,GamePageItemList.aspx,GamePageItemInfo.aspx,MobileKindList.aspx,MobileKindInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>302</ModuleID>
    <ModuleName>系统消息</ModuleName>
    <PageName>SystemMessageList.aspx,SystemMessageInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>303</ModuleID>
    <ModuleName>系统设置</ModuleName>
    <PageName>SystemSet.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>304</ModuleID>
    <ModuleName>推广管理</ModuleName>
    <PageName>SpreadConfigList.aspx,SpreadConfigInfo.aspx,SpreadRecordList.aspx,SpreadReturnConfigList.aspx,SpreadReturnConfigInfo.aspx,SpreadReturnRecordList.aspx,SpreadReturnReceiveRecordList.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>305</ModuleID>
    <ModuleName>排行管理</ModuleName>
    <PageName>RankingConfigList.aspx,RankingRecordList.aspx,RankingConfigInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>306</ModuleID>
    <ModuleName>道具管理</ModuleName>
    <PageName>PropertyConfigList.aspx,PropertyConfigInfo.aspx</PageName>
  </ModulePage>
  <!-- 维护系统 end -->

  <!-- 网站系统 begin -->
  <ModulePage>
    <ModuleID>400</ModuleID>
    <ModuleName>站点配置</ModuleName>
    <PageName>LogoSet.aspx,SiteConfig.aspx,OtherLogo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>401</ModuleID>
    <ModuleName>游戏规则</ModuleName>
    <PageName>KindRuleList.aspx,KindRuleInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>402</ModuleID>
    <ModuleName>广告管理</ModuleName>
    <PageName>AdsList.aspx,AddAds.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>403</ModuleID>
    <ModuleName>新闻公告</ModuleName>
    <PageName>SystemNoticeList.aspx,SystemNoticeInfo.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>404</ModuleID>
    <ModuleName>消息推送</ModuleName>
    <PageName>UMessagePushList.aspx,UMessagePushAll.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>405</ModuleID>
    <ModuleName>常见问题管理</ModuleName>
    <PageName>QuestionList.aspx,QuestionInfo.aspx</PageName>
  </ModulePage>
  <!-- 网站系统 end -->

  <!-- 金币系统 begin -->
  <ModulePage>
    <ModuleID>500</ModuleID>
    <ModuleName>金币管理</ModuleName>
    <PageName>AccountsGoldList.aspx,GrantGold.aspx,RecordUserGame.aspx,RecordGameInOut.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>501</ModuleID>
    <ModuleName>兑换管理</ModuleName>
    <PageName>GoldExchConfigList.aspx,GoldExchConfig.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>502</ModuleID>
    <ModuleName>兑换记录</ModuleName>
    <PageName>RecordGoldBuyProp.aspx,RecordGoldExch.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>503</ModuleID>
    <ModuleName>银行记录</ModuleName>
    <PageName>RecordBankTrade.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>504</ModuleID>
    <ModuleName>进出记录</ModuleName>
    <PageName>RecordGameInOut.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>505</ModuleID>
    <ModuleName>游戏记录</ModuleName>
    <PageName>RecordUserGame.aspx</PageName>
  </ModulePage>
  <!-- 金币系统 end -->

  <!-- 钻石系统 begin-->
  <ModulePage>
    <ModuleID>600</ModuleID>
    <ModuleName>钻石管理</ModuleName>
    <PageName>DiamondList.aspx,GrantDiamond.aspx,TopDiamond.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>601</ModuleID>
    <ModuleName>购买喇叭记录</ModuleName>
    <PageName>RecordBuyHorn.aspx,TopBuyHorn.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>602</ModuleID>
    <ModuleName>赠送交易记录</ModuleName>
    <PageName>RecordPresentTrade.aspx,TopOutDiamond.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>603</ModuleID>
    <ModuleName>后台赠送记录</ModuleName>
    <PageName>RecordSysPresent.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>604</ModuleID>
    <ModuleName>钻石开房记录</ModuleName>
    <PageName>RecordOpenRoom.aspx,RecordRoomScore.aspx,RecordPersonRoom.aspx,TopOpenRoom.aspx,RecordAAGameRoom.aspx,RecordAAGameCost.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>605</ModuleID>
    <ModuleName>钻石兑换金币记录</ModuleName>
    <PageName>RecordDiamondExch.aspx,TopExchangeGold.aspx</PageName>
  </ModulePage>
  <!-- 钻石系统 end-->

  <!-- 统计系统 begin -->
  <ModulePage>
    <ModuleID>700</ModuleID>
    <ModuleName>用户注册统计</ModuleName>
    <PageName>UserRegister.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>701</ModuleID>
    <ModuleName>用户在线统计</ModuleName>
    <PageName>UserOnline.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>702</ModuleID>
    <ModuleName>用户钻石统计</ModuleName>
    <PageName>StatisticsDiamond.aspx,StatisticsAgent.aspx,StatisticsChange.aspx,StatisticsProduct.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>703</ModuleID>
    <ModuleName>每日税收统计</ModuleName>
    <PageName>DailyRevenue.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>704</ModuleID>
    <ModuleName>每日损耗统计</ModuleName>
    <PageName>DailyWaste.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>705</ModuleID>
    <ModuleName>财富分布统计</ModuleName>
    <PageName>WealthDistribute.aspx,DiamondDistribute.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>706</ModuleID>
    <ModuleName>系统统计</ModuleName>
    <PageName>SystemStat.aspx</PageName>
  </ModulePage>
  <!-- 统计系统 end -->

  <!-- 后台系统 begin -->
  <ModulePage>
    <ModuleID>800</ModuleID>
    <ModuleName>账号管理</ModuleName>
    <PageName>BaseRoleList.aspx,BaseRoleInfo.aspx,BaseRolePermission.aspx,BaseUserList.aspx,BaseUserInfo.aspx,BaseUserUpdate.aspx</PageName>
  </ModulePage>
  <ModulePage>
    <ModuleID>801</ModuleID>
    <ModuleName>安全日志</ModuleName>
    <PageName>SystemSecurityList.aspx</PageName>
  </ModulePage>
  <!-- 后台系统 end -->

</ArrayOfModulePage>
