<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--数据库配置-->
    <add key="DBNativeWeb" value="Data Source=.; Initial Catalog=WHJHNativeWebDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBPlatformManager" value="Data Source=.; Initial Catalog=WHJHPlatformManagerDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBPlatform" value="Data Source=.; Initial Catalog=WHJHPlatformDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBAccounts" value="Data Source=.; Initial Catalog=WHJHAccountsDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBTreasure" value="Data Source=.; Initial Catalog=WHJHTreasureDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBRecord" value="Data Source=.; Initial Catalog=WHJHRecordDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBGameMatch" value="Data Source=.; Initial Catalog=WHJHGameMatchDB; User ID=sa; Password=407043; Pooling=true" />
   <!--数据库配置-->

   <!-- <add key="DBNativeWeb" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHNativeWebDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBPlatformManager" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHPlatformManagerDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBPlatform" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHPlatformDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBAccounts" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHAccountsDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBTreasure" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHTreasureDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBRecord" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHRecordDB; User ID=sa; Password=407043; Pooling=true" />
   <add key="DBGameMatch" value="Data Source=172.16.3.211,2381; Initial Catalog=WHJHGameMatchDB; User ID=sa; Password=407043; Pooling=true" /> -->

    <!-- 站点Cookie名 建议修改，修改的值请勿使用中文或特殊符号-->
    <add key="CookiesName" value="ckncache" />
    <!-- 上传文件命名序列号ID-->
    <add key="FileNameSequenceIDFilePath" value="/Config/FileSequenceID.INI" />
    <!-- ip库地址-->
    <add key="IPDbFilePath" value="/ipconfig/ipdata.config" />

    <!--友盟消息推送配置-->
    <!-- <add key="AppKey_Android" value="" />
    <add key="AppSecret_Android" value="" />
    <add key="AppKey_IOS" value="" />
    <add key="AppSecret_IOS" value="" /> -->
    <add key="AppKey_Android" value="59239f988f4a9d31090003a4" />
    <add key="AppSecret_Android" value="gy0n2boqi0rnedgec8tzou6gdnvccko8" />
    <add key="AppKey_IOS" value="59239f988f4a9d31090003a4" />
    <add key="AppSecret_IOS" value="gqejbnjmhtl5rwloly5dgmivuns1kn79" />
    <add key="UMengProductionMode" value="false"/>
    <!--友盟消息推送配置-->
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off">
      </customErrors>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="gsp" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
        </controls>
      </pages>
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
