<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/js/fontReset.js<% version %>"></script>
    <script src="assets/js/utils/promise.min.js<% version %>"></script>
    <script src="assets/js/utils/fetch.min.js<% version %>"></script>
    <script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/reset.css<% version %>">
    <link rel="stylesheet" href="assets/css/agent/proxy.css<% version %>">
    <title>推广中心</title>
  </head>
  <body>
    <div id="app" data-url="">
      <router-view></router-view>
    </div>
    <script src="dist/build.js<% version %>"></script>
  </body>
</html>

