input[type="text"]{
  font-size: 0.38rem;
  /* border: 1px solid #ccc; */
  margin-left:0.2rem;

}
input[type="password"]{
  font-size: 0.38rem;
  /* border: 1px solid #ccc; */
  margin-left:0.2rem;
}
