html {
  font-size: 50px;
  background: #f7f7f7;
}

body {
  max-height: 100vh;
  overflow: hidden;
}

body,
html {
  margin: 0;
  height: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration-line: none;
}

#app {
  height: 100%;
}

.fn-clear:after {
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  content: "";
}

.ui-left {
  float: left;
}

.ui-right {
  float: right;
}

.ui-main {
  font-size: 0.36rem;
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
}

.ui-panel {
  font-size: 0.36rem;
}

.ui-send .ui-panel,
.ui-addproxy .ui-panel,
.ui-addplayer .ui-panel,
.ui-change .ui-panel {
  border: none;
  margin-bottom: 0.4rem;
}

.ui-info tbody tr td:first-child {
  color: #000;
  width: 36.9%;
}

.ui-button {
  padding: 5px;
  border: 1px solid #777777;
  margin-right: 5px;
}

.ui-button:last-of-type {
  margin: 0;
}

.ui-query {
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
}

.ui-exit {
  text-align: center;
  border: none;
  margin-top: 1em;
}

.ui-proxy-result {
  min-height: 5rem;
  line-height: 5rem;
  text-align: center;
}

.ui-record-type {
  padding: 1em 0;
}

.ui-record-type li {
  display: inline-block;
  vertical-align: top;
  padding-right: 2px;
  border-right: 1px solid #dedfe0;
}

.ui-record-type li:last-of-type {
  padding: 0;
  border: none;
}

.ui-back {
  line-height: 0.8rem;
  height: 0.8rem;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  text-align: right;
  border-collapse: collapse;
  background: #fff;
  border-bottom: 1px solid #dedfe0;
}

table th {
  font-size: 0.26rem;
  height: 0.3rem;
  font-weight: normal;
}

tbody tr td {
  font-size: 0.3rem;
  text-align: center;
  height: 0.6rem;
  border-top: 1px solid #dedfe0;
  color: #666;
}

form {
  text-align: center;
}

.ui-form-item {
  text-align: center;
  margin-top: 0.3rem;
  overflow: hidden;
}

input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: left;
  width: 64%;
  font-size: 0.5rem;
  color: #000;
  background: #fff;
  /* border-bottom: 1px solid #ccc; */
}

input[type="submit"],
.ui-exit button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  height: 0.8rem;
  font-size: 0.42rem;
  line-height: 0.42rem;
  text-align: center;
  color: #fff;
  background: #1aad19;
  border-radius: 0.15rem;
}
label {
  margin: 0;
  text-align: right;
  height: 0.8rem;
  line-height: 0.8rem;
  display: block;
  float: left;
}

label span {
  margin-right: 16px;
}
