.ui-main {
  display: block;
  width: 1362px;
  margin: 54px auto 0;
}

.ui-news-introduction {
  width: 906px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.ui-news-introduction h1 {
  font-size: 16px;
  font-weight: bold;
}

.ui-content-box h1 + p {
  text-align: center;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

.ui-content-box div > img {
  width: 90%;
}

.ui-content-box h2:first-child {
  margin-top: 0;
}

.ui-content-box h2 {
  margin: 35px 40px 20px;
  font-size: 20px;
  color: #3b3b3b;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-weight: bold;
}

.ui-content-box div p {
  margin: 0 40px;
  color: #3b3b3b;
  text-align: left;
  font-size: 16px;
  line-height: 3;
  text-indent: 32px;
}
