.ui-weixin-tip {
 height: 100%;
 width:100%;
 position:fixed;
 left:0;
 top:0;
 right:0;
 bottom:0;
 z-index:999;
 text-align:center;
 background: rgba(0,0,0,.7);
}

.ui-weixin-tip img{
  width: 90%;
}
.ui-weixin-tip .close{
    position:absolute;
    left:8px;
    top:0;
    font-size:30px;
    font-weight:bold;
    color:white;
}
 